.navbar-brand{
	color: #FDF87F;
}

.navbar{
	background-color: #47A7D1;
}

.logo{
	color: #FDF87F;
}

.nav-item { 
	margin: 0 50px;
}

.nav-item a{ 
	color: #fff;
	transition: .3s ease-in;
}

.nav-item a:hover{ 
	color: #FDF87F;
}

.navbar-nav{
     margin: 0 15%;
}

.fas {
	margin-right: 10px;
}

.sair{
	margin-left: 620%;
}

